$color-primary: #20a0ff;
$background-color-theme1: #20a0ff;
$background-color-theme2: #3f8e4d;
$background-color-theme3: #edc148;
$background-color-theme4: #652BF5;
$background-color-theme5: deepskyblue;

$font-color-theme1: #20a0ff;
$font-color-theme2: #3f8e4d;
$font-color-theme3: #edc148;
$font-color-theme4: #652BF5;
$font-colot-theme5: deepskyblue;

$font-little-s: 10px;
$font-little: 12px;
$font-medium-s: 14px;
$font-medium: 16px;
$font-large-s: 18px;
$font-large: 20px;
